body {
	background-color: #dae4f5;//#f2dcdc;
	padding-left: 15%;
	padding-right: 15%;
}

h1 {
	text-align: center;
	font-color: darkmagenta;
}

#introtogit {
	font-size: 18px;
	font-family: comic sans, Arial;

}
