h1 {
	color: ;
	text-align: center;
	padding-top: 120px;
	background-image: url("sky.jpg");
	height: 300px;
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

h2 {
	color: darkblue;
	text-align: center; 
	font-family: Garamond, Arial Black, Lato, sans-serif;
}

#photo {
	float: left;
	width: 300px;
	margin-left: 20px;
}

#contact {
	float: right;
	background: lightblue;
	width: calc(100% - 400px);
	height: 200px;
	padding: 20px;
	font-size: 17px;
	margin-right: 20px;
}

#navigationbar{
	background-color: #ebecf0;
	padding: 2px;
	padding-top: 7px;
	padding-bottom: 7px;
    margin: 20px;
    text-align: center;
}

.navtool{
	padding-left: 30px;
	padding-right: 30px;
	background-color: lightgrey;
}

#resumeinfo{
	margin-top: 440px;
	margin-left: 20px;
	margin-right: 20px;
	padding:10px;
	background-color: #ebecf0;
	align-content: center;
}

.name{
	color: #3955d4;
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.subname{
	font-style: italic;
	font-weight: bold;
}

.columns{
	columns="2"
}

.title{
	font-weight: bold;
	font-size: 15px;
}

#form{
	margin-left: 20px;
}

.message{
	width: 400px;
	height: 100px;
	margin-bottom: 20px;
}

