body {
	margin: 5%;
	padding: 20px;
	/*background-color: #dae4f5;*/
}
			
#homebutton {
	margin-top: 2%;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 400px) {
	.container > div {
		/*background-color: #ebe9e8;*/
		background: rgba(243, 243, 243, 0.35);
		border: 10px solid #f3f3f3;
		font-size: 20px;
		margin: 20px;
		padding: 10px;
		width: 380px;
	}

	.slides1, .slides2, .slides3, .slides4, .slides5, .slides6 {
		width: 380px;
		display:none;
	}
}

@media (max-width: 399px) {
	.container > div {
		background-color: #ebe9e8;
		font-size: 20px;
		margin: 10px;
		padding: 10px;
		max-width: 100%;
	}

	.slides1, .slides2, .slides3, .slides4, .slides5, .slides6 {
		width: 270px;
		display:none;
	}
}

#topbtn {
  	display: none; /* Hidden by default */
  	position: fixed; /* Fixed/sticky position */
  	bottom: 50px; /* Place the button at the bottom of the page */
  	right: 30px; /* Place the button 30px from the right */
  	z-index: 99; /* Make sure it does not overlap */
  	border: none; /* Remove borders */
  	outline: none; /* Remove outline */
  	background-color: #f3f3f3; /* Set a background color */
  	color: blue; /* Text color */
  	cursor: pointer; /* Add a mouse pointer on hover */
  	padding: 15px; /* Some padding */
  	border-radius: 50%; /* Rounded corners */
  	font-size: 18px; /* Increase font size */
}

#topbtn:hover {
  	background-color: #555;
}

.arrow {
  	border: solid black;
  	border-width: 0 3px 3px 0;
  	display: inline-block;
  	padding: 3px;
  	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
}